<header clas="feri-header"><a href="#content" class="skip-to-content">Preskoči na vsebino</a>
    <div id="sec-nav-wrap"><a class="nav-btn fa fa-bars" id="sec-nav-open-btn" href="#sec-nav"><span
                class='screen-reader-only'>Odpri navigacijo</span></a>
        <nav id="sec-nav" aria-label="Secondary navigation">
            <div class="block">
                <ul class="meni-small">
                    <li class="nav-description">MENI
                    <li class="no-hide"><a href="/">DOMOV</a>
                    <li class="no-hide"><a href="/o-nas">O NAS</a>
                    <li class="no-hide"><a href="/kontakt">KONTAKT</a>
                    <li class="no-hide"><a class="dosearch">IŠČI</a>    
                </ul>
                <ul>
                    <li class="nav-description">HITRE POVEZAVE

                    <li class="no-hide"><a class="feri-menu" href="https://feri.um.si/obvestila/">OBVESTILA</a>
                    <li class="no-hide"><a class="feri-menu" href="https://aips.um.si/" aria-describedby="new-window-1">AIPS</a>
                    <li class="no-hide"><a class="feri-menu" href="https://estudij.um.si/" aria-describedby="new-window-1">EŠTUDIJ</a>
                    <li class="no-hide"><a class="feri-menu" href="https://feri.um.si/studij/urniki/">URNIKI</a>
                    <li class="no-hide"><a class="feri-menu" href="https://it.um.si/studenti/" aria-describedby="new-window-1">IKT STORITVE</a>
                    <li class="no-hide"><a class="feri-menu" href="https://ktfmb.um.si/" aria-describedby="new-window-1">KNJIŽNICA</a>
                </ul>
                <ul class="main-nav-small">
                    <li class="nav-description">GLAVNI MENI
                    <li class="hide-small"><a href="/o-nas/">O NAS</a>
                    <li class="hide-small"><a href="/studij/">ŠTUDIJ</a>
                    <li class="hide-small"><a href="/raziskovanje/">RAZISKOVANJE</a>
                    <li class="hide-small"><a href="/akademija-feri/">AKADEMIJA FERI</a>
                    <li class="hide-small"><a href="/aplikacije/kontakti/">KONTAKTI</a>
                </ul><a class="close-btn fa fa-times-circle" id="sec-nav-close-btn" href="#top"><span
                        class='screen-reader-only'>Zapri navigacijo</span></a>
            </div>
        </nav>
    </div>
    <div id="logos"></div>
    <div id="header-logos"><a href="https://www.um.si/" title="Domača stran Univerze v Mariboru "><span
                class='screen-reader-only'>Domača stran Univerze v Mariboru</span>
            <div class="umlogo" aria-hidden="true"></div>
        </a>
        <div class="logo-divider" aria-hidden="true"></div><a href="https://feri.um.si" title="Domača stran FERI ">
            <h1 class='screen-reader-only'>Domača stran FERI</h1>
            <div class="ferilogo" aria-hidden="true"></div>
        </a>
    </div>
    <div id="main-nav-wrap"><a class="nav-btn fa fa-bars" id="main-nav-open-btn" href="#main-nav"><span
                class='screen-reader-only'>Primarna navigacija</span></a>
        <nav id="main-nav" aria-label="Primary navigation">
            <div class="block">
                <ul>
                    <li><a href="https://feri.um.si/o-nas/">O NAS</a>
                    <li><a href="https://feri.um.si/studij/">ŠTUDIJ</a>
                    <li><a href="https://feri.um.si/raziskovanje/">RAZISKOVANJE</a>
                    <li><a href="https://feri.um.si/akademija-feri/">AKADEMIJA FERI</a>
                    <li><a href="https://feri.um.si/aplikacije/kontakti/">KONTAKTI</a>
                </ul><a class="close-btn fa fa-times-circle" id="main-nav-close-btn" href="#top"><span
                        class='screen-reader-only'>Zapri primarno navigacijo</span></a>
            </div>
        </nav>
    </div>
</header>