<div class="modal{% if include.showOnExit %} exit{% endif %}{% if include.closed %} closed{% endif %}">
    <div class="window">
        <svg class="close">
            <use xlink:href="#icon-close"></use>
        </svg>
        <div class="header">
            <h2>{{ include.title }}</h2>
            <p>{{ include.subtitle }}</p>
        </div>
        <div class="content">
            <ul>
                {% assign next_courses = site.courses | where_exp:"course","course.is_generated != true" | where_exp:"course","course.path != page.path" %}
                {% assign shuffled_array = next_courses | shuffle %}
                {% for course in shuffled_array limit:2 %}
                    <li>
                        <a href="{{ course.url | prepend: site.baseurl }}">
                            <figure>
                                {% if course.optimized_image %}
                                    <img src="{{ course.optimized_image }}">
                                {% elsif post.image %}
                                    <img src="{{ course.image }}">
                                {% else %}
                                    <img src="/assets/img/off.jpg">
                                {% endif %}
                            </figure>
                            <h3>{{ course.title }}</h3>
                            <p>{{ course.description }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mask"></div>
</div>
