$theme: (
  themeColor: rgb(40, 95, 118),
  primaryDark: #141414,
  primaryLight: #f0f1f2,
  accentLight: #141414,
  accentDark: #ffffff,
  lightGray: #bcb4b4,
  themeBlue: #44BAE1,
  darkThemeBlue: #1b4857,
  themeOrange: #DBA40B,
  darkThemeOrange: #644b05,
  themeGreen: #8F8607,
  darkThemeGreen: #484304,
  texts: #333333
);