---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
    padding-top: 60px;
  }
</style>

<div class="container">
  <img src="/assets/img/404.gif" width="100%" alt="{{ site.translations.error_404.image_alt | default: '404 - Page not found' }}">
  <p><strong><span data-sl>{{ site.translations.error_404.title | default: "Stran ne obstaja :(" }}</span><span data-en>Page not found :(</span></strong></p>
  <p><span data-sl>{{ site.translations.error_404.message | default: "Žal, nismo našli stran, ki jo iščete." }}</span><span data-en>Sorry, we could not find the page you are looking for.</span></p>
</div>
