---
---
[
  {% assign courses = site.courses | where_exp:"course", "course.is_generated != true" %}
  {% for course in courses %}
    {
      "id": "{{ course.id }}",
      "title": "{{ course.title | escape | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "keywords": "{{ course.keywords | join: ', ' | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "intended": "{{ course.intended | join: ', ' | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "author": "{% for author in course.author %}{{ author | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}{% unless forloop.last %}, {% endunless %}{% endfor %}",
      "url": "{{ site.baseurl }}{{ course.url }}",
      "field": "{{ course.field | join: ', ' | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "description": "{{ course.description | strip_newlines | lstrip | replace: '"', '' | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z"}}",
      "image": "{{ course.image}}",
      "difficulty": "{{ course.difficulty | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "type": "{{ course.type | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}",
      "cType": "{{ course.cType }}",
      "notifyEmail": [{% if course.notifyEmail and course.notifyEmail != "" %}{% for email in course.notifyEmail %}"{{ email }}"{% unless forloop.last %}, {% endunless %}{% endfor %}{% else %}""{% endif %}],
      {% if course.executionStartDate and course.executionStartDate != "" %}"executionStartDate": "{{ course.executionStartDate }}"{% else %}"executionStartDate": ""{% endif %},
      {% if course.executionData and course.executionData != "" %}"executionData": "{{ course.executionData | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" | strip_newlines | replace: '"', '\"' }}"{% else %}"executionData": ""{% endif %},
      {% if course.questions and course.questions != "" %}"questions": "{{ course.questions | newline_to_br | strip_newlines | replace: '  ', '\\n' | replace: '"', '\"' | replace: "š", "s" | replace: "č", "c" | replace: "ž", "z" | replace: "Š", "S" | replace: "Č", "C" | replace: "Ž", "Z" }}"{% else %}"questions": ""{% endif %},
      {% if course.filledCourse and course.filledCourse != "" %}"filledCourse": {{ course.filledCourse }}{% else %}"filledCourse": false{% endif %}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]