---
---
[
  {% assign courses = site.data.courses | where_exp:"course", "course.is_generated != true" %}
  {% for course in courses %}
    {
      "id": "{{ course.url }}",
      "title": "{{ course.titleSl | escape }}",
      "keywords": "{{ course.keywords | join: ', ' }}",
      "intended": "{{ course.intended | join: ', ' }}",
      "author": "{{ course.lecturersStr }}",
      "url": "{{ site.baseurl }}{{ course.url }}",
      "description": "{{ course.descriptionForCatalogueSl | strip_newlines | lstrip | replace: '"', '' }}",
      "image": "{{ course.image }}",
      "type": "{{ course.type }}",
      "execution": "{{ course.learningEnvironmentSl }}",
      "intendedFor": "{{ course.intendedFor }}",
      "prerequisite": "{{ course.prerequisite }}",
      {% if course.executions and course.executions[0] %}
        "executionStartDate": "{{ course.executions[0].startDate | date: "%d. %m. %Y" }}",
        "executionEndDate": "{{ course.executions[0].endDate | date: "%d. %m. %Y" }}"
      {% else %}
        "executionStartDate": null,
        "executionEndDate": null
      {% endif %}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]