---
---
[
  {% assign courses = site.courses | where_exp:"course", "course.is_generated != true" %}
  {% for course in courses %}
    {
      "id": "{{ course.id }}",
      "title": "{{ course.title | escape }}",
      "keywords": "{{ course.keywords | join: ', ' }}",
      "intended": "{{ course.intended | join: ', ' }}",
      "author": "{% for author in course.author %}{{ author }}{% unless forloop.last %}, {% endunless %}{% endfor %}",
      "url": "{{ site.baseurl }}{{ course.url }}",
      "field": "{{ course.field | join: ', '}}",
      "description": "{{ course.description | strip_newlines | lstrip | replace: '"', '' }}",
      "image": "{{ course.image}}",
      "difficulty": "{{ course.difficulty }}",
      "type": "{{ course.type }}",
      "execution": "{{ course.execution }}",
      "cType": "{{ course.cType }}"
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]