<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include feri-header.html %}
        {% include header.html %}

        <section class="course {% if site.two_columns_layout %}two-columns{% else %}one-column{% endif %}">
            <article role="article" class="course-content">
                <header>
                    <h3>
                        {% assign fields = page.field | remove: '[' | remove: ']' | remove: '"' %}
                            {% assign field_list = fields | split: ", " %}
                            {% for field in field_list %}
                                {{ field }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                    </h3>
                    <h1 class="course-title">{{ page.title }}</h1>
                    <p class="course-author" style="color:rgb(83, 83, 83); margin-top:0; padding-top: 0;">
                        {% assign authors = page.author | remove: '[' | remove: ']' | remove: '"' %}
                        {% assign author_list = authors | split: ", " %}
                        {% for author in author_list %}
                            {{ author }}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    </p>     
                    <p class="course-info">
                        <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                        <span>{{ minutesText }}</span>
                    </p>
                    <p class="course-button">
                        {% if page.cType == "1" %}
                        <button class="course-button"><a href="{{site.catalog_url}}{{page.id}}">Prijavite se in pokažite
                                svoje zanimanje</a></button>
                        {% endif %}
                    </p>
                </header>
                <section>
                    <div class="box-info">
                        <div class="tags">
                            {% for tag in page.keywords %}
                                {% if tag != "" %}
                                    <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                            {% for tag in page.intended %}
                                {% if tag != "" %}
                                    <a class="intended" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if page.image %}
                        <img style="margin-bottom: 0;" src="{{ site.baseurl }}/assets/img/1024{{ page.id }}.jpeg" alt="Featured image" class="course-cover">
                        <!-- <span style="padding-top: 0; font-style: italic;">Vir: {{ page.image }}</span> -->
                    {% endif %}
                    <p class="course-description">{{ page.description | newline_to_br | replace: "  ", "&nbsp;&nbsp;&nbsp;&nbsp;" }}</p>
                    {{ content }}
                    <div class="data-container">
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Vrsta izobraževanja</strong></p>
                                    <p>{{ page.type }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Področje</strong></p>
                                    <p>{{ page.field }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Priporočena predhodnja delavnica</strong></p>
                                    <p>{% if page.requisite != '' %}{{ page.requisite }}{% else %}➖{% endif %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Stanje</strong></p>
                                    <p>{{ page.state }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Vrsta izvedbe</strong></p>
                                    <p>{{ page.execution }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Obseg izobraževanja glede števila ECTS</strong></p>
                                    <p>{{ page.ects | times: 25 }} - {{ page.ects | times: 30 }} ur dela</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Kontakt poučevanja</strong></p>
                                    <p>{{ page.contact }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-description-container">
                            <div class="inside-icon-description">
                                <i class="fas fa-paperclip"></i>
                                <div class="description-data">
                                    <p class="desc"><strong>Izvedba</strong></p>
                                    <p>{{ page.implementation | newline_to_br | replace: "  ", "&nbsp;&nbsp;&nbsp;&nbsp;" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <p style="text-align: center;"  class="course-button">
                        {% if page.cType == "1" %}
                        <button class="course-button"><a href="{{site.catalog_url}}{{page.id}}">Prijavite se in pokažite
                                svoje zanimanje</a></button>
                        {% endif %}
                    </p>                                               
                </section>                
                {% include pagination-course.html %}
            </article>

            {% if site.two_columns_layout %}
            <aside class="see-also">
                <h3 style="margin-left: 30px;">Poglej tudi</h3>
                {% assign related_courses_count = 0 %}
                {% assign courses = site.courses | shuffle %}
                {% for course in courses %}
                    {% unless course.url == page.url %}
                        {% assign shared_keywords = false %}
                        {% for keyword in page.keywords %}
                            {% if course.keywords contains keyword %}
                                {% assign shared_keywords = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if shared_keywords %}
                            {% if related_courses_count < 3 %}
                                <div class="side-course">
                                    <a style="text-decoration: none;" href="{{ course.url | prepend: site.baseurl }}">
                                        <div class="related-article-item">
                                            <h3>{{ course.title }}</h3>
                                            <div class="image-container">
                                                <img src="{{ site.baseurl }}/assets/img/256{{ course.id }}.jpeg" alt="{{ course.title }} image" class="related-article-image">
                                            </div>
                                            <p>
                                                {% assign authors = course.author | remove: '[' | remove: ']' | remove: '"' %}
                                                {% assign author_list = authors | split: ", " %}
                                                {% for author in author_list %}
                                                    {{ author }}{% unless forloop.last %}, {% endunless %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                {% assign related_courses_count = related_courses_count | plus: 1 %}
                            {% endif %}
                        {% endif %}
                    {% endunless %}
                {% endfor %}
                {% if related_courses_count < 3 %}
                    {% for course in courses %}
                        {% if course.url != page.url %}
                            <div class="side-course">
                                <a href="{{ course.url | prepend: site.baseurl }}">
                                    <div style="text-decoration: none;" class="related-article-item">
                                        <h3>{{ course.title }}</h3>
                                        <div class="image-container">
                                            <img src="{{ site.baseurl }}/assets/img/256{{ course.id }}.jpeg" alt="{{ course.title }} image" class="related-article-image">
                                        </div>
                                        <p>
                                            {% assign authors = course.author | remove: '[' | remove: ']' | remove: '"' %}
                                            {% assign author_list = authors | split: ", " %}
                                            {% for author in author_list %}
                                                {{ author }}{% unless forloop.last %}, {% endunless %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% assign related_courses_count = related_courses_count | plus: 1 %}
                            {% if related_courses_count == 3 %}
                                {% break %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </aside>
            {% endif %}
        </section>


        {% include footer.html %}

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Blogcourseing",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ page.author }}",
                "image": "{{ '/assets/img/user.jpg' | prepend: site.baseurl | prepend: site.url }}",
                "jobTitle": "Author Position", // You might need to adjust this part
                "url": "{{ '/author-url/' | prepend: site.baseurl | prepend: site.url }}" // Adjust based on actual author URL structure
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
        </script>
    </body>
</html>