---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% if site.data.catalog.faculty.acronym == "FERI" %}
            {% include feri-header.html %}
        {% else %}
            {% include um-header.html %}
        {% endif %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

